{% extends 'registeration/navbar.html' %}
{% block content %}
<div class="my-header">
         <div class="my-row">
            <div class="my-column">
               <div class="my-header-img-div">
                  <img src="images/slider-bg.webp" alt="img" style="height:90vh; width:50vw">
               </div>
            </div>
            <div class="my-column">
               <div class="my-header-info">
                  Welcome To Our Moonj World
                  <div class="header-btn">
                  <button class="btn btn-danger text-center "> Shop Now</button>
                  </div>
               </div>
            </div>
         </div>
</div>
{% endblock %}