{% extends 'registeration/nav.html' %}
{% load static %}
{% block content %}
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Add a New Address</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <form style="width:40vw;margin-left:30vw;">
         {% csrf_token %}
      <div class="form-group">
         <label for="building_number">Building Number / flat number</label>
         <input type="number" class="form-control" id="building_number" placeholder="Enter Your Building Number">
         <label for="street_number">Enter Your Street Number</label>
         <input type="number" class="form-control" id="street_number" placeholder="Street Number">
         <label for="city">Enter Your City</label>
         <input type="text" class="form-control" id="city" placeholder="Enter Your City">
         <label for="district">Enter Your District</label>
         <input type="text" class="form-control" id="district" placeholder="Enter Your District">
         <label for="pin">Enter Your Pincode</label>
         <input type="text" class="form-control" id="pin" placeholder="Enter Your Pincode">
         <label for="state">Enter Your State</label>
         <input type="text" class="form-control" id="state" placeholder="Enter Your State">
      </div>
         <button type="submit" class="btn btn-danger" style="width:40vw;margin-bottom:3vh;">Add This Address</button>
      </form>
      <!-- footer section -->
{% endblock content %}