{% extends 'registeration/nav.html' %}
{% load static %}
{% block content %}
<section class="inner_page_head">
    <div class="container_fuild">
       <div class="row">
          <div class="col-md-12">
             <div class="full">
                <h3>Order Summary</h3>
             </div>
          </div>
       </div>
    </div>
 </section>
 <div style="width:40vw;margin-left:30vw;box-shadow: 2px 2px 2px 2px grey;margin-top:2vh;margin-bottom: 2vh;">
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Sr. Number</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Product Price</th>
            <th scope="col">Final Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Basket</td>
            <td>2</td>
            <td>1000</td>
            <td>2000</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Chair</td>
            <td>1</td>
            <td>1000</td>
            <td>1000</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Light Basket</td>
            <td>1</td>
            <td>500</td>
            <td>500</td>
          </tr>
        </tbody>
        <thead class="thead-light">
            <tr>
              <th scope="col">Total Price</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">3500</th>
            </tr>
          </thead>
      </table>

     <div style="text-align:center">
    <Button style="background-color:rgba(255,0,0,0.721);height:5vh;width:6vw; color:white;font-weight: bold;border: none; border-radius: 5%;">Pay Now</Button>
     </div>
 </div>
{% endblock content %}